/* May not need this -- Bulma is linked in the html head */
/* see https://bulma.io/documentation/ for a guide to Bulma */

#header {
    background-image: url(./Images/david-marcu-W5MhJ6cy1So-unsplash.jpg);
    background-position: center -60px;
    background-size: cover;
}