#header {
    background-image: url(./Images/david-marcu-W5MhJ6cy1So-unsplash.jpg);
    background-position: center -60px;
    background-size: cover;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8D8741; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #659DBD; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8D8741; 
  }